.col-centered{
    float: none;
    margin: 0 auto;
}

div.storyimage{
    width:45%; 
    float:left; 
    margin:10px; 
    text-align:center;
}

div.storypledgeorder{
    width:100%; 
    margin: 3px; 
    text-align:left;
}

div.shareyourstory{
    margin:0 auto;
    width:75%;
    text-align:left;
}
textarea, input{
    max-width:100%;
}

@media (max-width: 700px) {
    div.storyimage{
        width:100%;
        margin:0 auto; 
    }
    div.shareyourstory{
        margin:0 auto;
        width:100%;
    }
}